.homename{

}
.icon{
    position: relative;
    top:5px;
    left:10%;
    margin: 0%;
    padding: 0%;
    width: 30px;
    height: 30px;
    border: solid;
    border-color: linear-gradient(45deg, #f4c14e, #d36950);;
    border-radius: 50%;
}