<footer>
    <div class="site-name">
        <ul class="external-link">
            <a href="/" class="name">shiho aoki</a>
            <li class="link_item"><a href="https://zenn.dev/as_pml">Zenn</a></li>
            <li class="link_item"><a href="https://qiita.com/as_pml">Qiita</a></li>
            <li class="link_item">
                <a class="github-button" 
                    href="https://github.com/shiho-aoki"
                    target="blank"
                    data-style="mega"
                    data-count-href="/shiho-aoki/followers"
                    data-count-api="/users/shiho-aoki#followers">Follow@shiho-aoki</a>
            </li>
        </ul>
    </div>
    <ul class="footer-nav-content">
        <li class="nav_item"><a href="/">home</a></li>
        <li class="nav_item"><a href="/about">About</a></li>
        <li class="nav_item"><a href="/work">Work</a></li>
        <li class="nav_item"><a href="/blog">Blog</a></li>
        <li class="nav_item"><a href="/contact">Contact</a></li>
    </ul>
    <p class="copyright">
        COPYRIGHT © shiho aoki All rights Reserved.
    </p>
</footer>