.home{
    position: relative;
    top:7rem;
}
.overview{
    margin: 1rem 2rem 2rem 2rem;
    border:solid #000;
}

.github-status{
    width: 100%;
    height: 100%;
    background: url(../../assets/background.png);
    background-size: 100%;
}
.github-status h2{
    font-size: 5rem;
    color: aliceblue;
    padding-top: 2rem;
    padding-left: 2rem;
}

.github-status img{
    display: block;
    width:65%;
    height: auto;
    margin-left: auto;
    margin-top: 2%;
    margin-right: 2%;
    padding-bottom: 2%;
}
#stats_card{
    padding-top: 2rem;
}
@media (max-width:610px) {
    .github-status img{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    #stats_card{
        padding-top: 0;
    }
    .github-status{
        background: none;
    }
    .github-status h2{
        font-size: initial;
        color: initial;
        padding-top: initial;
        padding-left: initial;
    }
}

.anotation ul{
    text-align: center;
    margin-left: -3rem;
    /* letter-spacing: -.4em; */
}
.anotation ul li {
    display: inline-block;
	margin-left: 10px;
    letter-spacing: normal;
    /*design box*/
    padding-top: 2%;
    width: 20%;
    border: solid #000;
}
#image_icon{
    font-size: 50px;
}

.pinned{
    margin: 2rem 2rem 2rem 2rem;
}

.pinned ul{
    text-align: center;
    margin-left: -3rem;
    letter-spacing: -.4rem;
}
.pinned ul li {
    display: inline-block;
    margin-left: 10px;
    letter-spacing: normal;
    /*design box*/
    padding-top: 2%;
    padding-bottom: 2%;
    width: 22%;
    border: solid #000;
    border-radius: 10px;
}
#pin_icon{
    font-size: 20px;
    transform: rotate(20deg);
}
.pin_text{
    font-size: 14px;
}
@media (max-width: 610px){
    #pin_icon{
        font-size: 16px;
    }
    .pin_text{
        font-size: 11px;
    }
}