.overview{
    margin: 1rem 2rem 2rem 2rem;
    border:solid #000;
}

.anotation ul{
    text-align: center;
    margin-left: -3rem;
    /* letter-spacing: -.4em; */
}
.anotation ul li {
    display: inline-block;
	margin-left: 10px;
    letter-spacing: normal;
    /*design box*/
    padding-top: 2%;
    width: 20%;
    border: solid #000;
}
#image_icon{
    font-size: 50px;
}

.pinned{
    margin: 2rem 2rem 2rem 2rem;
}

.pinned ul{
    text-align: center;
    margin-left: -3rem;
    letter-spacing: -.4rem;
}
.pinned ul li {
    display: inline-block;
    margin-left: 10px;
    letter-spacing: normal;
    /*design box*/
    padding-top: 2%;
    padding-bottom: 2%;
    width: 22%;
    border: solid #000;
    border-radius: 10px;
}
#pin_icon{
    font-size: 20px;
    transform: rotate(20deg);
}